.main
{ 
	width: 870px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #eee;
}

h1.main, h2.main
{
	text-align: left;
}

.error
{
	color: #CC0000;
	margin-left: 10px;
}

.container
{
	width: 500px;
	clear: both;
}
.container input
{
	width: 100%;
	clear: both;
}

td.switched
{
	background-color: #BB5555;
}

td.correct
{
	background-color: #55BB55;
}

td.stayed
{
	background-color: #BBBB55;
}

table.votechanges
{
	margin: auto;
	border: 1px #99b solid;
}
table.votechanges td
{
	border: 1px #99b solid;
	min-width: 16px;
}

table.collection
{ 
	width: 870px;
	border-collapse: collapse;
}
table.collection td
{
	display: table-cell;
}
table.collection tr
{
	background-color: #eee;
	border-bottom: 1px #99b solid;
	padding: 0px;
}
table.collection tr:hover 
{ 
	background-color: #9cf;
}
table.collection tr:first-child:hover
{
	background-color: #eee;
}
table.collection tr a 
{
	display: block;
	padding: 0px;
	height: 100%;
	text-align: center;
}
table.collection td a
{
	text-decoration: none;
	color: #00a0b0;
	text-align: center;
}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

/* Croping images */
.rightcrop{
    position: relative;
    float:left;
    margin:.5em 10px .5em 0;
    overflow:hidden;
    border:1px solid #ccc;
}
.rightcrop img{
    margin: 0% 0% 0% -50%;
}
.leftcrop{
    position: relative;
    float:left;
    margin:.5em 10px .5em 0;
    overflow:hidden;
    border:1px solid #ccc;
}
.leftcrop img{
    margin: 0% 0% 0% 50%;